{% extends 'email_distribution/base.html' %}
{% block content %}
    <div class="row text-center">
        <div class="col-12 mb-3 mt-3">
            <a href="{% url 'mailing_create' %}"
               class="custom-btn btn-2 form-control">Создать рассылку</a>
        </div>
        {% for object in object_list %}
            <div class="col-sm-3 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-header">
                        <p class="card-text">{{ object.start }} - {{ object.finish }}</p>
                    </div>
                    <div class="card-body">
                        {% if object.is_active %}
                            {% if object.status == 1 %}
                                <p class="card-text alert alert-primary">Статус: Создана</p>
                            {% endif %}
                            {% if object.status == 2 %}
                                <p class="card-text alert alert-success">Статус: Запущена</p>
                            {% endif %}
                            {% if object.status == 0 %}
                                <p class="card-text alert alert-danger">Статус: Завершена</p>
                            {% endif %}
                        {% else %}
                            <p class="card-text alert alert-danger">Статус: Отключена</p>
                        {% endif %}
                        <p class="card-text">Письмо: {{ object.message.title }}</p>
                        <div class="card-footer">
                            <a href="{% url 'mailing_detail' object.id %}"
                               class="btn btn-primary form-control">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}